---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name} Portafolio - ${label}`}>
	<main class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6">
		<div class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0">
			<Hero />
			<About />
			<ThemeSwitch />
		</div>
		<div class="space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0">
			<Skills className="print:hidden" />
			<Experience className="print:col-span-3" />
			<Projects className="print:hidden" />
			
			<Education className="order-first" />
		</div>
		<Tail />
	</main>

	<KeyboardManager />
</Layout>
<!-- proyectos en el archivo json
	"projects": [
    {
      "name": "Personal Portfolio",
      "isActive": false,
      "description": "A personal portfolio website to showcase my projects and skills.",
      "highlights": [
        "Built with React and Tailwind CSS",
        "Includes a blog and contact form"
      ],
      "url": "https://johndoe.dev",
      "github": "https://github.com"
    },
    {
      "name": "Weather App",
      "isActive": true,
      "description": "A web application that provides weather information for any location.",
      "highlights": [
        "Built with JavaScript and OpenWeatherMap API",
        "Responsive design"
      ],
      "url": "https://weatherapp.com"
    },
    {
      "name": "Task Manager",
      "isActive": true,
      "description": "A simple task management app to keep track of daily tasks.",
      "highlights": [
        "Built with Node.js and MongoDB",
        "User authentication and CRUD operations"
      ],
      "url": "https://taskmanager.com",
      "github": "https://github.com"
    },
    {
      "name": "E-commerce Site",
      "isActive": false,
      "description": "An online store built with Next.js and Stripe for payment processing.",
      "highlights": [
        "Product management and shopping cart functionality",
        "Secure payment integration"
      ],
      "url": "https://ecommerce.com"
    }
  ]
 -->

<style>
	@page {
		size: auto;
		margin: 0mm;
	}
	main {
		margin: auto;
		width: 100%;
	}
</style>
